IP_STORAGE_DIR=data
IP_STORAGE_NAME=ip_data
IP_FOFA_API_KEY=your_fofa_api_key_here
IP_IPINFO_ACCESS_TOKEN=your_ipinfo_access_token_here
IP_FOFA_QUERY_DELAY=1.1
IP_IPINFO_QUERY_DELAY=1.1
IP_AIZHAN_COOKIE=your_aizhan_cookie_here
IP_AIZHAN_QUERY_DELAY=2
IP_CHINAZ_COOKIE=your_chinaz_cookie_here
IP_CHINAZ_QUERY_DELAY=2
IP_ZOOMEYE_API_KEY=your_zoomeye_api_key_here
IP_ZOOMEYE_QUERY_DELAY=1
